body {
text-align: center;
}

h1 {
font-family: "Raleway", sans-serif;
color: #0D2C40;
letter-spacing: 1px;
font-weight: 400;
font-size: 45px;
margin: 0;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 18px;
}
p {
font-family: "Droid Serif", serif;
}

header {
	margin: 0;
}